# Tabular-playground-series-nov-2022

## Details of competition
#### URL: https://www.kaggle.com/competitions/tabular-playground-series-nov-2022/overview

<br>

#### Topic
Provide a fun and approachable-for-anyone tabular dataset to model.

<br>

#### Background

<br>

##### About the Tabular Playground Series
Kaggle competitions are incredibly fun and rewarding, but they can also be intimidating for people who are relatively new in their data science journey. In the past, we've launched many Playground competitions that are more approachable than our Featured competitions and thus, more beginner-friendly.

<br>

**The goal of these competitions is to provide a fun and approachable-for-anyone tabular dataset to model.** These competitions are a great choice for people looking for something in between the Titanic Getting Started competition and the Featured competitions. If you're an established competitions master or grandmaster, these probably won't be much of a challenge for you; thus, we encourage you to avoid saturating the leaderboard.

<br>

For each monthly competition, we'll be offering Kaggle Merchandise for the top three teams. And finally, because we want these competitions to be more about learning, we're limiting team sizes to 3 individuals.

## í•œ ì¤„ ìš”ì•½!!

<br>

- **ì¤€ë¹„ëœ ë’·í† ë§‰ + í”„ë¡œì íŠ¸ ì§„í–‰(ì•™ìƒë¸” + ë¸”ëœë”©)í•˜ëŠ” ì•í† ë§‰ >> ëª¨ë¸ í–¥ìƒ >> ê²°ê³¼ ì œì¶œ**

## Files í•­ëª©

### submission_files/

- ì• ë°˜í† ë§‰ì— ëŒ€í•œ ì´ì§„ ë¶„ë¥˜ ëª¨ë¸ ì˜ˆì¸¡ê°’ íŒŒì¼ ëª¨ìŒ

<br>

### train_labels.csv

- ì œì¶œ íŒŒì¼ì— ëŒ€í•œ ì• ë°˜í† ë§‰ ì‹¤ì¸¡ê°’


<br>


### sample_submission.csv

- ë’·í† ë§‰ë§Œ ì •ìƒ ë°ì´í„°ì¸ ìƒ˜í”Œ ì œì¶œ íŒŒì¼


- í¬ë§·(ids)ì€ ì •ìƒì„


- ì ìˆ˜ í–¥ìƒì„ ìœ„í•´, ì• ë°˜í† ë§‰ì— ëŒ€í•´ ì¶”ê°€ ì‘ì—… ì§„í–‰ (ë°ì´í„° ì„ê¸°)

## ë°ì´í„° ê´€ë ¨ ì´í•´ì‚¬í•­:

<br>

### submission_files(folder)
- ì´ì§„ ë¶„ë¥˜ ì‘ì—…ì— ëŒ€í•œ ì˜ˆì¸¡ê°’ë“¤ì´ ì €ì¥


- ê° íŒŒì¼ ì´ë¦„ì€ ë¡œê·¸ ì†ì‹¤(logloss) ì ìˆ˜


- ì‹¤ì¸¡ ë¼ë²¨ íŒŒì¼(train_label?)ì˜ ì˜ˆì¸¡ í–‰ì˜ ì ˆë°˜ì— ëŒ€í•œ ë¡œê·¸ ì†ì‹¤ ì ìˆ˜ê°€ íŒŒì¼ ì œëª©


- í›Œë¥­í•œ íŠ¸ë ˆì´ë‹ ì„¸íŠ¸ê°€ ë¨

<br>

### train_labels.csv

- submission_filesì˜ íŒŒì¼ì˜ í–‰ì— ëŒ€í•œ ì‹¤ì¸¡ ì •ë³´ê°’ ì œê³µ


<br>


### sample_submission.csv

- ì´í•´ê°€ ì–´ëŠì •ë„ ëœ ë¶€ë¶„!

- ë‚˜ë¨¸ì§€ ë’·ë¶€ë¶„ ë°˜í† ë§‰(20000~39999)ì— ëŒ€í•œ ê²°ê³¼ ì˜ˆì¸¡ì„ ì œì¶œ!!

## ìš°ë¦¬ì˜ ëª©í‘œ

- ì•™ìƒë¸” í™œìš©!


- ë‹¤ì–‘í•œ submission fileë“¤ì˜ ì•™ìƒë¸”ì„ í†µí•´, ëª¨ë¸ ì˜ˆì¸¡ ì„±ëŠ¥ì„ ë†’ì´ëŠ” ê²ƒ!!


- submission_files(ë°˜í† ë§‰ì§œë¦¬ í–‰ì— ëŒ€í•œ ì‹¤ì¸¡ê°’ë“¤)ë“¤ì´ ìˆìœ¼ë¯€ë¡œ ë¸”ëœë”©(ì—¬ëŸ¬ ë°ì´í„°ë¥¼ í•©ì³ì„œ)í•˜ë©´ ë” ì¢‹ì€ ê²°ê³¼ë¥¼ ì–»ì—ˆëŠ”ì§€ ì•„ë‹Œì§€ ì•Œ ìˆ˜ ìˆì„ ê²ƒì„!!

<br>

### ìš”ì•½

1. ë‘ íŒŒì¼ì„ í•©ì³ì„œ ë°˜í† ë§‰ ë°ì´í„°ì— ëŒ€í•œ ì ìˆ˜(ì˜ˆì¸¡ê°’)ë¥¼ í™•ì¸í•  ìˆ˜ ìˆìŒ!!


2. ì ìˆ˜ë¥¼ ê³„ì†í•´ì„œ ê°œì„ í•´ë‚˜ê°ˆ ìˆ˜ ìˆìŒ!!


3. ì ìˆ˜ë¥¼ (ê·¹í•œìœ¼ë¡œ) ê°œì„  í›„, ë‚˜ë¨¸ì§€ í–‰ë“¤ì— ëŒ€í•´, ë¦¬ë”ë³´ë“œì— ì œì¶œí•  ìˆ˜ ìˆìŒ!! ğŸ¥¸

In [ ]:
# import
# ë‚´ì¼ ì§„í–‰ ì˜ˆì •!!

In [1]:
# import module
import pandas as pd

In [4]:
# import data
# !ls
!ls ./tabular-playground-series-nov-2022/

sample_submission.csv submission_files      train_labels.csv

In [5]:
# import data
sample_submission = pd.read_csv('./tabular-playground-series-nov-2022/sample_submission.csv')
sample_submission

          id      pred
0      20000  0.640707
1      20001  0.636904
2      20002  0.392496
3      20003  0.588658
4      20004  0.783603
...      ...       ...
19995  39995  0.382515
19996  39996  0.352498
19997  39997  0.577554
19998  39998  0.712353
19999  39999  0.483215

[20000 rows x 2 columns]

In [6]:
# import data
train_labels = pd.read_csv('./tabular-playground-series-nov-2022/train_labels.csv')
train_labels

          id  label
0          0      0
1          1      1
2          2      1
3          3      1
4          4      0
...      ...    ...
19995  19995      1
19996  19996      1
19997  19997      0
19998  19998      0
19999  19999      1

[20000 rows x 2 columns]

In [9]:
# import data
_6222863195 = pd.read_csv('./tabular-playground-series-nov-2022/submission_files/0.6222863195.csv')
_6222863195

          id      pred
0          0  0.709336
1          1  0.452988
2          2  0.675462
3          3  0.481046
4          4  0.957339
...      ...       ...
39995  39995  0.382515
39996  39996  0.352498
39997  39997  0.577554
39998  39998  0.712353
39999  39999  0.483215

[40000 rows x 2 columns]